<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Cybersentry</title>
  <!-- Required Meta Tag -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="handheldfriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="description" content="Mordenize" />
  <meta name="author" content="" />
  <meta name="keywords" content="Mordenize" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="../static/dist/main/images/logos/favicon.png" />
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="../static/dist/main/libs/owl.carousel/dist/assets/owl.carousel.min.css">
  <!-- Core Css -->
  <link rel="stylesheet" href="../static/dist/main/css/style-dark.min.css" />
  <style>
    .suggestion {
      padding: 10px;
      cursor: pointer;
    }

    .suggestion:hover {
      background-color: rgba(75, 94, 100, 0.329);
      color: #5D87FF;
    }
  </style>
</head>

<body data-theme="dark" style="border-radius: 30px;" >
  <!-- Preloader -->
  <!-- <div class="preloader preloader-dark">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div> -->
  <!-- Preloader End -->
  <!-- Body Wrapper -->
  <!-- <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed"> -->
    <!-- Sidebar Start -->
    <aside class="left-sidebar"  style="width: 372px; border-radius: 10px; background-color: black;">
      <!-- Sidebar scroll-->
      
        <div class="brand-logo d-flex align-items-center justify-content-between" style="padding-bottom: 100px;">
          <a href="/home/{{usrid}}" class="text-nowrap logo-img">
            <img
              src="../static/dist/main/images/logos/light-logo.png"
              width="200px" style="margin-left: 100px;"alt="" />
                <!-- <h6 href="/home/{{usrid}}">{{session['name']}}</h6> -->
               

          </a>
          <!-- <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div> -->
        </div>
  <!-- Import Js Files -->
  <script src="../static/dist/main/libs/jquery/dist/jquery.min.js"></script>
  <script src="../static/dist/main/libs/simplebar/dist/simplebar.min.js"></script>
  <script src="../static/dist/main/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- core files -->
  <script src="../static/dist/main/js/app.min.js"></script>
  <script src="../static/dist/main/js/app.dark.init.js"></script>
  <script src="../static/dist/main/js/app-style-switcher.js"></script>
  <script src="../static/dist/main/js/sidebarmenu.js"></script>
  <script src="../static/dist/main/js/custom.js"></script>
  <!-- current page js files -->
  <script src="../static/dist/main/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="../static/dist/main/js/dashboard2.js"></script>
</body>

</html>